<template>
    <div class="container_met">
        <div class="wrapper">
            <select class="select-method" v-model="method" >
                <option v-for="item in methods" :value="item">{{item}}</option>
            </select>
            <input-parametr @getFormula="getFormula" @getPoint="getPoint"></input-parametr>
        </div>
        <div v-if="method === 'Метод Хука-Дживса'" class="container-paramHuk">
            <div v-for="(item, index) in paramHuka" class="param-method">
                <div style="display: flex; flex-direction: column;">
                    <input :placeholder="item" v-if="item != 'Δ = '" type="number" v-model="var_value[index]">
                    <div v-else v-for="(item_var, index_del) in variable" style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
                        <p style="margin-right: 0.3rem; margin-bottom: 0.3rem;">{{item_var}}</p>
                        <input :placeholder="item" type="number" v-model="val_delta[index_del]">
                    </div>
                </div>
            </div>
        </div>
        <div v-if="method === 'Метод Сопряжённых направлений'" class="container-paramHuk">
            <div v-for="(item, index) in paramPaula" style="display: flex; flex-direction: column;">
                <input :placeholder="item" type="number" v-model="var_value[index]">
            </div>
        </div>
        <button @click="StartAlgorithm" v-if="valid_chisl()" class="btn_chisl">Вычислить</button>
        <ul class="history">
            <li class="history-wrapper">
                <label>Итерация</label>
                <label>Точка</label>
                <label>Значение функции в точке</label>
            </li>
            <li v-for="(item, index) in history[0]" class="history-wrapper" v-if="valid_print(index)">
                <label>{{index+1}}</label>
                <label>{{item}}</label>
                <label>{{history[1][index]}}</label>
            <li/>
        </ul>
    </div>
</template>

<script>
    import inputParametr from "../components/inputParametr";
    import HookJivs from "../static/HookJivs";
    import Paual from "../static/Paual";
    import BFGS from "../static/BFGS";
    export default {
        name: "labaSecond",
        components:{
            inputParametr,
            HookJivs,
            Paual,
            BFGS
        },
        data(){
            return{
                methods:['Метод Хука-Дживса', 'Метод Сопряжённых направлений'],
                method:'Метод Хука-Дживса',
                paramHuka:['ξ = ', 'α = ', 'Δ = '],
                paramPaula:['ξ = '],
                formula:'',
                variable:[],
                var_value:[],
                val_delta:[],
                start_point:[],
                history:[],
                point_line_level:[]
            }
        },
        methods:{
            getFormula(formula, variable){
                this.formula = formula
                this.variable = variable
            },
            getPoint(start_point){
                this.start_point = start_point
            },
            StartAlgorithm(){
                let answer = ''
                if(this.method === 'Метод Хука-Дживса')
                    answer = HookJivs.method(this.formula, this.start_point, JSON.parse(JSON.stringify(this.var_value[2])), Number(this.var_value[0]), Number(this.var_value[1]), this.variable)
                if(this.method === 'Метод Сопряжённых направлений')
                    answer = Paual.method(this.formula, this.start_point, Number(this.var_value[0]), this.variable)
                console.log(answer)

                this.history = answer.history
            },
            valid_chisl(){
                if(this.start_point.length === 0 || (this.var_value.length < 3 && this.method === 'Метод Хука-Дживса') || this.var_value.length === 0)
                    return false
                for(let item of this.start_point){
                    if(isNaN(item)){
                        return false
                    }
                }
                for(let item of this.var_value){
                    if(item === ''){
                        return false
                    }
                }
                if(this.method === 'Метод Хука-Дживса'){
                    for(let item of this.val_delta){
                        if(isNaN(item)){
                            return false
                        }
                    }
                }
                return true
            },
            valid_print(index){
                if(this.history[0].length > 30 && (index < 15 || index > this.history[0].length - 16))
                    return true
                else if(this.history[0].length < 30 && this.history[0].length > 0)
                    return true
            },
        },
        watch:{
            val_delta(newval){
                for(let i = 0; i < this.val_delta.length; ++i)
                    this.val_delta[i] = Number(this.val_delta[i])
                this.var_value[2] = this.val_delta
            },
            method(newval){
                this.history = []
            }
        }
    }
</script>

<style scoped lang="scss">
    .container_met{
        display: flex;
        align-items: center;
    }
    .wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .select-method{
        height: 2.4rem;
        margin-right: 1rem;
        width: 15rem;
        border-radius: 3px;
    }
    .container-paramHuk{
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin-top: 2rem;
    }
    input{
        /*border: 2px solid #16a085;*/
        padding-left: 1rem;
        border: none;
        border-radius: 3px;
        height: 1.3rem;
        margin-bottom: 0.3rem;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    .btn_chisl{
        padding: 0.5rem 1rem;

        cursor: pointer;

        border:none;
        border-radius: 3px;
        background: #54c0f1;

        margin-left: 47rem;
        margin-top: 3rem;
    }
    .history{
        display: flex;
        flex-direction: column;
        .history-wrapper{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-top: 1.3rem;
            label{
                width: 15rem;
                margin-left: 2rem;
                margin-top: 1rem;
            }
        }
    }
</style>