<template>
    <div class="container_met">
        <div class="wrapper">
            <div class="param-method">
                <select class="select-method" v-model="method" >
                    <option v-for="item in methods" :value="item">{{item}}</option>
                </select>
                <input placeholder="ξ = " type="number" v-model="e">
            </div>
            <input-parametr @getFormula="getFormula" @getPoint="getPoint"></input-parametr>
        </div>
        <button @click="StartAlgorithm" v-if="valid_chisl()" class="btn_chisl">Вычислить</button>
        <ul class="history">
            <li class="history-wrapper">
                <label>Итерация</label>
                <label>Точка</label>
                <label>Значение функции</label>
                <label>Значение градиента</label>
            </li>
            <li v-for="(item, index) in history.x" class="history-wrapper" v-if="valid_print(index)">
                <label>{{index+1}}</label>
                <label>{{item}}</label>
                <label>{{history.F[index]}}</label>
                <label>{{history.delta_F_val[index]}}</label>
            <li/>
        </ul>
    </div>
</template>

<script>
    import inputParametr from "../components/inputParametr";
    import BFGS from "../static/BFGS";
    import Broeden from '../static/Broeden'
    import FletchRivsa from "../static/FletchRivsa";
    export default {
        name: "labaFourth",
        components:{
          inputParametr,
            BFGS,
            Broeden
        },
        data(){
            return{
                formula:'',
                variable:[],
                e:'',
                start_point:[],
                history:[],
                point_line_level:[],
                methods:['Метод Флетчера-Ривса', 'Метод BFGS'],
                method:'Метод Флетчера-Ривса'
            }
        },
        methods:{
            getFormula(formula, variable){
                this.formula = formula
                this.variable = variable
            },
            getPoint(start_point){
                this.start_point = start_point
            },
            StartAlgorithm(){
                let answer = []
                if(this.method === 'Метод BFGS')
                    answer = BFGS.method(this.formula, this.start_point, Number(this.e), this.variable)
                else
                    answer = FletchRivsa.method(this.formula, this.start_point, Number(this.e), this.variable)
                this.history = answer.history
            },
            valid_chisl(){
                if(this.start_point.length === 0 || this.e === '')
                    return false
                for(let item of this.start_point){
                    if(isNaN(item)){
                        return false
                    }
                }
                return true
            },
            valid_print(index){
                if(this.history.x.length > 30 && (index < 15 || index > this.history.x.length - 16))
                    return true
                else if(this.history.x.length < 30 && this.history.x.length > 0)
                    return true
            },
        }
    }
</script>

<style scoped lang="scss">
    .container_met{
        display: flex;
        align-items: center;
    }
    .wrapper{
        display: flex;
        flex-direction: row;
    }
    .select-method{
        height: 2.4rem;
        margin-right: 1rem;
        width: 15rem;
        border-radius: 3px;
    }
    .param-method{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    input{
        border: none;
        border-radius: 3px;
        padding-left: 1rem;
        height: 1.3rem;
        margin-top: 1.3rem;
        width: 14rem;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    .btn_chisl{
        padding: 0.5rem 1rem;

        cursor: pointer;

        border:none;
        border-radius: 3px;
        background: #54c0f1;

        margin-left: 47rem;
        margin-top: 3rem;
    }
    .history{
        display: flex;
        flex-direction: column;
        .history-wrapper{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-top: 1.3rem;
            label{
                width: 15rem;
                margin-left: 2rem;
                margin-top: 1rem;
            }
        }
    }
</style>