<template>
    <div class="container_met">
        <div class="container_form">
            <input type="number" v-model="countFormuls"/>
            <div class="wrapper">
                <input-parametr-for-third @getFormula="getFormula" :index="index" @getPoint="getPoint" v-for="(item, index) in countFormuls" :ref="'formula'+index"></input-parametr-for-third>
            </div>
            <div class="param-method">
                <input placeholder="ξ = " type="number" v-model="e">
                <div style="display: flex; flex-direction: column">
                    <div v-for="(item, index) in variable_print" class="value-variable">
                        <p>{{item}}</p>
                        <input  v-model="start_point[index]" type="number">
                    </div>
                </div>
            </div>
        </div>
        <button @click="StartAlgorithm" v-if="valid_chisl()" class="btn_chisl">Вычислить</button>
        <ul class="history">
            <li class="history-wrapper">
                <label>Итерация</label>
                <label>Точка</label>
                <label>Значение функции</label>
                <label>Значение градиента</label>
            </li>
            <li v-for="(item, index) in history.x" class="history-wrapper" v-if="valid_print(index)">
                <label>{{index+1}}</label>
                <label>{{item}}</label>
                <label>{{history.F[index]}}</label>
                <label>{{history.A[index]}}</label>
            <li/>
        </ul>
    </div>
</template>

<script>
    import inputParametr from "../components/inputParametr";
    import inputParametrForThird from "../components/inputParametrForThird";
    import Broeden from '../static/Broeden'
    export default {
        name: "labaThird",
        components:{
            inputParametr,
            inputParametrForThird,
            Broeden
        },
        data(){
            return{
                formuls:[],
                variable:[],
                variable_print:[],
                e:'',
                start_point:[],
                history:[],
                point_line_level:[],
                countFormuls:0,
                valid: true
            }
        },
        methods:{
            getFormula(formula, variable, variable_print, index){
                this.formuls[index] = formula
                this.variable = variable
                this.variable_print = variable_print
                //let valid = [...this.variable].filter(x => variable.has(x))
                // if(valid.length !== this.variable.size){
                //     this.$refs['formula'+index][0].clearFormula()
                //     this.formuls[index] = ''
                //     this.validInputFormul()
                //     return
                // }
                //this.validInputFormul()
                this.variable = variable
            },
            getPoint(start_point){
                this.start_point = start_point
            },
            validInputFormul(){
                for(let item of this.formuls){
                    if(item !== ''){
                        this.valid = false
                        return
                    }
                }
                this.variable = new Set()
                this.valid = true
            },
            StartAlgorithm(){
                console.log(this.formuls, this.start_point, Number(this.e), this.variable)
                let answer = Broeden.method(this.formuls, this.start_point, Number(this.e), this.variable)
                console.log(answer)
                this.history = answer.history
            },
            valid_chisl(){
                if(this.start_point.length === 0 || this.e === '')
                    return false
                for(let item of this.start_point){
                    if(isNaN(item)){
                        return false
                    }
                }
                return true
            },
            valid_print(index){
                if(this.history.x.length > 30 && (index < 15 || index > this.history.x.length - 16))
                    return true
                else if(this.history.x.length < 30 && this.history.x.length > 0)
                    return true
            },
        },
        created() {
            // let formuls = ['x+y -3', 'x^2-1']
            // let c = new Set()
            // c.add('x')
            // c.add('y')
            // let p = Broeden.method(formuls, [1, 5], 0.001, c)
        },
        watch:{
            countFormuls(newval){
                this.countFormuls = Number(newval)
                if(this.$refs['formula'+0]){
                    this.variable = []
                    this.variable_print = []
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    .container_met{
        display: flex;
        align-items: center;
    }
    .container_form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 37rem;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    .select-method{
        height: 2.4rem;
        margin-right: 1rem;
        width: 15rem;
        border-radius: 3px;
    }
    .param-method{
        margin-top: 1.3rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    input{
        border: none;
        border-radius: 3px;
        padding-left: 1rem;
        height: 1.3rem;
        width: 14rem;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    .btn_chisl{
        padding: 0.5rem 1rem;

        cursor: pointer;

        border:none;
        border-radius: 3px;
        background: #54c0f1;

        margin-left: 47rem;
        margin-top: 3rem;
    }
    .history{
        display: flex;
        flex-direction: column;
        .history-wrapper{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-top: 1.3rem;
            label{
                width: 15rem;
                margin-left: 2rem;
                margin-top: 1rem;
            }
        }
    }
    .value-variable{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.3rem;
        margin-left: 0.8rem;
        p{
            margin-right: 0.3rem;
        }
        input{
            /*border: 2px solid #16a085;*/
            border: none;
            border-radius: 3px;
            margin: 0;
        }
    }
</style>