<template>
    <div>
        <p class="title" :data-text="title">
            {{title}}
        </p>
    </div>
</template>

<script>
    export default {
        name: "headerMethod",
        props:{
            title:{
                type:String
            }
        }
    }
</script>

<style scoped>
    .title{
        position: relative;
        font-size: 2rem;
        font-weight: bold;
        -webkit-text-stroke: 1px #a3580b;
    }
</style>