<template>
    <div class="container">
        <div class="container__formula">
            <input placeholder="Введите формулу" @change="parserFunc(formula)" v-model="formula" class="formula">
            <div v-if="variable.size > 0" class="value-variable">
                <div v-for="(item, index) in variable" class="value-variable__wrapper">
                    <p>{{item}}</p>
                    <input  v-model="start_point[index]" type="number">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "inputParametr",
        data(){
            return{
                formula: '',
                variable: new Set(),
                formula_param: '',
                variable_param: new Set(),
                start_point:[]
            }
        },
        methods: {
            parserFunc(f) {
                this.variable = new Set()
                this.formula_param = new Set()
                this.variable_param = new Set()
                let operators = ['-', '(', ')', '+', '/', '*', '^']
                let list_function = require('hot-formula-parser').SUPPORTED_FORMULAS;
                let operatorInclude = []
                let formula = new Map()
                let separators = []
                f = f.replace(/\s|\_/g, '')
                for (let item of operators) {
                    separators.push('\\' + item)
                }
                let pos = 0
                for (let item in f) {
                    if (new RegExp(separators.join('|')).test(f[item])) {
                        if (item !== 0)
                            pos++
                        operatorInclude.push(f[item])
                        formula.set(pos, 'operator')
                        pos++
                    } else {
                        formula.set(pos, 'value')
                    }
                }
                let params = f.split(new RegExp(separators.join('|')))
                params = params.filter(item => item !== '')
                let letters = new RegExp("^[A-zА-яЁё]+$")

                for (let i in params) {
                    let item = params[i]
                    if (letters.test(item.replace(/[0-9]/g, '')) && !list_function.includes(item.toUpperCase())) {
                        this.variable.add(item)
                        for (let index = 0; index < item.length; ++index) {
                            let newItem = ''
                            if (/[0-9]/.test(item[index])) {
                                newItem = '_' + item[index] + (index != (item.length - 1) ? '_' : '')
                                item = item.substr(0, index) + newItem + item.substr(index + 1)
                                index += index != (item.length - 1) ? 2 : 1
                            }
                        }
                        params[i] = item
                        this.variable_param.add(item)
                    }
                }
                this.formula_param = ''
                let k = 0
                let p = 0
                for (let item of formula.values()) {
                    if (item === 'value') {
                        this.formula_param += params[k]
                        k++
                    } else {
                        this.formula_param += operatorInclude[p]
                        p++
                    }
                }
                this.start_point = new Array(this.variable.size)
                this.$emit('getFormula', this.formula_param, this.variable_param)
            },
        },
        watch:{
            start_point(newval){
                for(let i = 0; i < this.start_point.length; ++i)
                    this.start_point[i] = Number(this.start_point[i])
                this.$emit('getPoint', this.start_point)
            }
        }
    }
</script>

<style scoped lang="scss">
    .container{
        display: flex;
        flex-direction: column;
        &__formula{
            display: flex;
            flex-direction: row;
            align-items: center;
            .formula{
                width: 35rem;
                font-size: 1rem;
                padding: 0.6rem 1rem;
                margin-top: 0.3rem;

                /*border: 2px solid #16a085;*/
                border: none;
                border-radius: 5px;
            }
            .value-variable{
                display: flex;
                flex-direction: column;
                margin-left: 2rem;
                &__wrapper{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 0.3rem;
                    p{
                        margin-right: 0.3rem;
                    }
                    input{
                        /*border: 2px solid #16a085;*/
                        border: none;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
</style>