<template>
    <div class="menu">
        <img src="../assets/img/menu.svg" class="img-menu">
            <div class="container-menu">
                <ul class="contant-menu">
                    <li v-for="item in menu" @click="getTitle(item.title)">
                        <router-link :to="item.path" class="link">{{item.title}}</router-link>
                    </li>
                </ul>
            </div>
    </div>
</template>

<script>
    export default {
        name: "menu_bar",
        data(){
            return{
                menu:[{path:'/', title:'Методы оптимизации нулевого порядка'}, {path:'/Broeden', title:'Решение ситсем нелинейных уравнений'}, {path:'/BFGS', title:'Методы оптимизации первого порядка'}]
            }
        },
        methods:{
            getTitle(title){
                this.$emit('getTitle', title)
            }
        }
    }
</script>

<style scoped lang="scss">
    .img-menu{
        position: fixed;
        top: 2%;
        left: 1%;
        width: 1.5rem;
    }
    .container-menu{
        position: fixed;
        top:0;
        left: -20rem;

        display: flex;
        flex-direction: column;

        width: 17rem;
        height: 100%;

        padding: 1rem;

        /*background: #16a085;*/
        background: #a3580b;

        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;

        .contant-menu{
            margin-bottom: 1rem;

            text-decoration: none;

            margin-top: 3rem;

            li{
                list-style-type: none;

                margin-bottom: 1rem;

                cursor: pointer;

                border-bottom: 1px solid rgb(111, 184, 11);


                text-shadow: rgba(255, 255, 255, .1) -1px -1px 1px, rgba(0, 0, 0, .5) 1px 1px 1px;

                transition: opacity 0.8s, transform 0.8s;
                -ms-transition: opacity 0.8s, -ms-transform 0.8s;
                -moz-transition: opacity 0.8s, -moz-transform 0.8s;
                -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;

            }
        }
    }
    .img-menu:hover ~ .container-menu{
        left: 0;
    }
    .container-menu:hover{
        left: 0;
    }
    li:hover{
        color: #f4f4f4;

        -webkit-transform: translateX(5%);
        -moz-transform: translateX(5%);
        -ms-transform: translateX(5%);
        transform: translateX(5%);
        -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
        -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
        -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
        transition: opacity .5s .1s, transform .5s .1s;
    }
    .link{
        color: rgb(220, 226, 226);
        text-decoration: none;
    }
</style>