<template>
  <div id="app">
    <div id="nav">
      <menu_bar @getTitle="getTitle"></menu_bar>
    </div>
    <div class="main-wrapper">
      <header-method :title="title"></header-method>
      <router-view class="main-contant"/>
    </div>
  </div>
</template>

<script>
  import menu_bar from './components/menu_bar'
  import HeaderMethod from "./components/headerMethod";
  export default {
    components:{
      HeaderMethod,
      menu_bar
    },
    data(){
      return{
        title:'Методы оптимизации нулевого порядка'
      }
    },
    methods:{
      getTitle(title){
        console.log(title)
        this.title = title
      }
    }
  }
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
  *{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }
  #app{
    display: flex;
    flex-direction: column;
    min-height:  58.70rem;
    /*background: #46ddffbd;*/
    background: #aba024d6;
  }
  .main-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;
    min-height:  20rem;
  }
  .main-contant{
    display: flex;
    flex-direction: column;
    margin: 3rem;
  }
  p, label{
    color: #a3580b;
  }
  input{
    outline: none;
  }
  select{
    outline: none;
  }
  button{
    outline: none;
  }
  ul{
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }
</style>
